torch
torchvision
torchaudio
numpy==1.23.1
matplotlib
tqdm
termcolor
mitsuba
smplpytorch
diffusers==0.10.2
transformers
scipy
ftfy
accelerate
transforms3d
smplx
trimesh
h5py
spacy
chumpy
ipykernel
git+https://github.com/openai/CLIP.git
